.HomeRightSection{
    height: fit-content;
    max-height: 700px;
    background: #EFEFEF;
    border-radius: 20px;
    overflow: auto;
    min-height: 700px;
}
.HomeRightLeaderBoader{
        /* height: 700px; */
        max-height: 720px;
        background: #EFEFEF;
        border-radius: 20px;
        overflow: auto;
        margin-top: 2rem;
        height: fit-content;
}
.react-reveal.RaceCardDetail {
    flex: 2;
}
.Competition{
    margin: auto;
}
.CompetitionHeader{
    width: 88%;
    margin: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.CompetitionHeader h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 10vw, 2rem); 
    text-transform: uppercase;
}
.CompetitionHeader img{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 10vw, 2rem); 
    line-height: 24px;
}
.AccordionHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.AccordionHeader > p:nth-child(1){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15.5949px;
    line-height: 19px;
    color: #000000;
    padding-top: 10px;
}
.AccordionHeader > p:nth-child(2){
    font-style: normal;
    font-weight: 300;
    font-size: 15.5949px;
    line-height: 19px;
    color: #000000;
    padding-top: 10px;
}
.AccordionHeader11{
    border-radius: 10px;
}
.AccordionHeader11 button{
    border-radius: 20px !important;
}
.accordion-button::after{
    display: none !important;
}

.CompetitionData{
    width: 100%;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
    max-width: 630px;
    margin-bottom: 25px;
}
.LeaderData{
    width: 100%;
    margin: auto;
    height: fit-content;
    overflow: auto;
    /* height: 700px; */
    margin-bottom: 25px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 30px;
    
}
.accordion-button{
    border-radius: 30px;
}
.Competitionitem{
    border-radius: 21px;
    margin: 8px;
}
.Competition_Matches{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.accordion-body {
    background: #19469D;
   
}
.accordion-item {
    background-color: #EFEFEF ; 
     border: none; 
}
.accordion-button:focus {
    box-shadow: none;
}