.footer1{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/Rectangle\ 17.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Copyrights {
    width: 100%;
    background: #19469D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 60px;
    min-height: 60px;
}
.Policies{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 90%;
}
.footertext1{
    padding: 1.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 14.6133px;
    line-height: 18px;
    color: #000000;
}

.formclass1{
    display: flex;
}
.formclass1 > input{
    
    height: 58px;
    background: #D7D9DE;
    border-radius: 20px;
    border: none;
    width: 100%;
}

.formclass2 > button{
     display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
gap: 10px;
color: #fff;
width: 100%;
height: 39px;
left: 972px;
top: 3038px;
background: #19469D;
border-radius: 20px;
border: none;
margin-top: 10px;
}
.LinkStyle > li > p{
    color: #000;
} 
.text-muted > li > p{
    color: #000;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 20px;
  }

  .list-unstyled .text-muted > li >img{
    color: #6c757d !important;
    background-color: #6c757d!important;
  }

  .mtfooter{
    margin-top: 45px;
  }
  .mtfooter1{
    margin-top: 25px;
    width: 310px;

  } 
  .copyrightinner{  
    flex: 2;
    margin-top: 10px;
  }
