*{
    font-family: 'Inter';
}
body::-webkit-scrollbar {
    width: 0.1em;
  }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(48, 8, 139), darksalmon);
  }
  .HomeLeftSection::-webkit-scrollbar {
    width: 0.1em;
  }
  .HomeRightSection::-webkit-scrollbar {
    width: 0.1em;
  }
  .RaceDetailHeader::-webkit-scrollbar {
    width: 0.1em;
  }
  .newpost::-webkit-scrollbar {
    width: 0.1em;
  }
.CompetitionData::-webkit-scrollbar {
  width: 0.1em;
}
.HomeRightLeaderBoader::-webkit-scrollbar {
  width: 0.1em;
}
  .carousel-control-prev-icon{
    display: none !important;
  }

  .carousel-control-next-icon{
    display: none;
  }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px;
    height: 9px;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50% !important;
}
a{
  color: #000;
  text-decoration: none;

}
.mobiledata{
  display: none;
}
.mobilemenudata {
  display: none;
}

.scroll-container1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 20px;
}

.react-calendar__month-view__days__day--weekend {
  color: #000;
}